.mg-l-10 {
  margin-left: 10px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-15 {
  margin-top: 15px;
}
.mg-t-5 {
  margin-top: 0;
}
.mg-bt-15 {
  margin-bottom: 15px;
}
.mg-bt-20 {
  margin-bottom: 20px;
}
.pd-t-20 {
  padding-top: 20px;
}
.mg-bt-70 {
  margin-bottom: 70px;
}
.mg-bt-100 {
  margin-bottom: 100px;
}
.pd-l-5 {
	padding-left: 5px;
}
.pd-r-5 {
	padding-right: 5px;
}
.pd-t-70 {
  padding-top: 70px;
}