$color-main: #BC459F;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #5b5b5b;
  background: #fff;
  font-size: 14px;
  line-height: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  &.open {
    background: rgba(0,0,0,0.5);
    .container-content, footer {
      opacity: 0.25;
    }
  }
}
h1,h2,h3 {
  font-weight: 500;
}
a {
  cursor: pointer;
  &:focus {
    background: none;
  }
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 1280px;
  float: left;
  clear: both;
  position: relative;
  @media ( max-width: 1024px ) {
    width: 100%;
  }
}
html, body, .container {
  height: 100%;
}

.item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.2s linear;
  color: lighten(#5b5b5b, 10%);
}

.container-home {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.nav-home {
	top: 0;
	.item {
		margin: 20px 20px 0 20px;
		padding-bottom: 10px;
		display: inline-block;
		position: relative;
		z-index: 2;
		&::after {
			content: '';
			height: 2px;
			width: 100%;
			bottom: -2px;
			left: 0;
			right: 0;
			width: 0;
			margin: 0 auto;
			position: absolute;
			border-radius: 3px;
			transition: all 0.2s linear;
			z-index: 1;
			display: inline;
		}
		&:hover::after, &.active::after {
			width: 100%;	
		}
	}
}
.home-center {
	width: 320px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 45%;
	transform: translate(0, -45%);
	h1 {
		margin-top: 0;
		font-weight: 500;
		font-size: 48px;
	}
}
.btn-group {
	margin: 40px 0 30px 0;
	.btn {
		width: 130px;
		margin: 0 10px;
	}
}
.nav-home, 
.home-footer {
	width: 100%;
	position: fixed;
	text-align: center;
}
.home-footer {
	bottom: 0;
	font-size: 13px;
	padding: 15px 0;
	p {
		margin: 0;
	}
}

.btn {
	font-size: 13px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	padding: 12px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.25s linear;
	&, &:hover {
		color: #fff;
	}
}
.btn-border {
	padding: 10px;
	border-radius: 4px;
	background: transparent;
	color: $color-main;
	border: 2px solid $color-main;
	&:hover {
		color: darken($color-main, 10%);
		border-color: darken($color-main, 10%);
	}
}
.btn-main {
	background: $color-main;
	&:hover {
		background-color: darken($color-main, 10%);
	}
}