node_modules
sass/layout
sass/layout-theme
theme/*
images
*.css
*.html
*.js

!/public/theme/css/themes/*.css
!/public/theme/css/t-datepicker.min.css
!/public/theme/js/t-datepicker.min.js

!/sass/t-datepicker.scss

**.DS_Store
.DS_Store?

package-lock.json
.*.swp
._*
.editorconfig
.gitignore
.git
.github
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
_config.yml
CONTRIBUTING.md
gulpfile.js
robots.txt

# compass watch cache
.sass-cache